/* .div {
  color: rgb(116, 115, 115);
  position:absolute;
  top: 0px;
  width: 100%;
} */

.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.road {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Additional styling for individual components */

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  /* margin-bottom: 20px; */
}