.pricelistContainer {
  margin: 0 10%;
  padding: 0 80px;
  display: flex;
  position: center;
  justify-content: space-between;
  /* box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2); */
}

div p {
  white-space: pre-wrap;
}

@media screen and (max-width: 1000px) {
  .pricelistContainer {
    display: block;
    padding: 80px;

  }
}

@media screen and (max-width: 700px) {
  .pricelistContainer {
    display: block;
    padding: 10px;

  }
}