.board {
    margin: 4% 10%;
    display: flex;
    position: center;
    justify-content: space-between;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
}

/* @media screen and (max-width: 48rem)  { */
@media screen and (max-width: 1000px)  {

    .board {
        margin: 4% 10%;
        display: flex;
        flex-direction: column;
        position: center;
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
    }
}

