.div {
  color: #f1f1f1;
  position:absolute;
  top: 0px;
  width: 100%;

}

.container {
  height: calc(100vh - 324px - 4.3rem);
  min-height: 400px;
}

.img404 {
  display: block;
  /* width:80%; */
  max-width: 400px;
  margin: 4.3rem auto 0;
  opacity: 0.9;
  box-shadow: 30px 30px 12px rgba(103, 103, 102, 1);
}

@media screen and (max-width: 1000px) {
  .container {
    height: calc(100vh - 330px - 4.3rem);
    min-height: 400px;
  }
  
.img404 {
      width: 80%;
  }
}

@media screen and (max-height: 670px) {
  .container {
    /* height: calc(100vh - 330px - 4.3rem); */
    min-height: 0;
    height:auto;
    margin: 19px 0;
  }
  
.img404 {
  margin: 0 auto;
  box-shadow: 15px 10px 12px rgba(103, 103, 102, 1);
  }
}