/* Styles for the container */
.horizontalAccordion {
    display: flex;
    flex-wrap: wrap;
}

/* Styles for each accordion item */
.item {
    flex: 1 0 33.33%;
    /* Adjust the width based on your layout needs */
    overflow: hidden;
    transition: flex-basis 2.5s ease;
    /* Smooth transition for opening and closing */
}

.item.active {
    flex-basis: 33.33%;
    /* Adjust the width for the expanded item */
}

.container {
    flex: 1 1 auto;
    margin-bottom: 20px;
    display: flex;
    /* Adjust the alignment and spacing as needed */
    align-items: center;
    gap: 10px;
}

.image {
    flex: 0 0 auto;
    width: 169px;
    height: 300px;
    background-size: cover;
    background-position: left;
}

/* Styles for the accordion content */
.content {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    /* background-size: cover;
    background-position: center; */
}

.left {
    flex: 1 1 auto;
    color: #ad4c4c;
    /* Set the color for the title and text */
}

.right {
    /* max-width: 400px; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Styles for the expanded content */
.expandedContent {
    padding: 20px;
    background-color: #383838;

    /* Set the background color for the expanded content */
    /* Add additional styles as needed */
}

/* Styles for the title and text */
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

/* Additional styles for the card layout */
.card {
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add additional styles as needed */
}