button {
    display: inline;
    background: transparent;
    background-image: url(../../images/DE_Square.png);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    margin-top: 0.5%;
    margin-bottom: 2%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: background-image 0.6s ease;
}

button:hover {
    background-image: url(../../images/DE_Hearth.png);
    /* background-color: transparent;
    border: 2px solid #234465;
    color: #234465;
    font-style: italic; */
}
