.frame {
    position: relative;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    color: #f1f1f1;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.image {
    float: left;
    max-width: 200px;
    padding: 16px;
    background-color: transparent;
}

.languageButtons {
    display: flex;
    float: right;
    padding: 10px 20px;
    height: auto;
    gap: 10px;
    /* Adjust the gap between buttons as needed */
    align-items: center;
}

/* nav */
.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1111119f;
}

/* .tabs li, */
.tabs a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    min-width: 75px;
    /* to prevent jumping when hovered */
    padding: 14px;
    text-decoration: none;
    font-family: segoe script;
}

/* Change the link color to #555 (gray) on hover */
/* .tabs li:hover, */
.tabs a:hover {
    background-color: #555;
    font-weight: bold;
}

.menu-icon img {
    display:none;
    height: 30px;
}

@media screen and (max-width: 1000px) {

    /* .tabs li, */
    .tabs a {
        display: none;
        /* flex-direction: column;
        width: 200px;
        height: calc(100vh - 85px); */

        /* position: absolute; */
        /* margin-top: 0; */
        /* top: 85px; */

        /* border: 2px solid #ececee;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start; */
    }

    .nav-side-menu.start {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        color: #000;
        display: table;
        transition: 0s;
    }

    .nav-links:hover {
        color: #fff;
    }

    .logo {
        /* position: absolute; */
        top: 0;
        left: 0;
        /* transform: translate(25%, 50%); */
    }

    .menu-icon img {
        display: block;
        float: left;
        cursor: pointer;
        padding: 12px 10px;
    }

    /* .fa-times {
        color: #fff;
        font-size: 2rem;
    } */

    .nav-links-button {
        display: block;
        padding: 12px 30px;
        margin: 25px auto;
        border-radius: 10px;
        background: #000;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
    }

    button {
        display: none;
    }

    .nav-items {
        height: auto;
    }
}