.frame {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    color: #f1f1f1;
    width: 100%;
}

.image {
    float: left;
    max-width: 200px;
    padding: 16px;
    background-color: transparent;
}

.languageButtons {
    display: flex;
    float: right;
    padding: 10px 20px;
    height: auto;
    gap: 10px;    /* Adjust the gap between buttons as needed */
    align-items: center;
}

/* nav */
.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1111119f;
}

.tabs li,
.tabs a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    min-width: 75px;
    /* to prevent jumping when hovered */
    padding: 14px;
    text-decoration: none;
    font-family: segoe script;
}

/* Change the link color to #555 (gray) on hover */
.tabs li:hover,
.tabs a:hover {
    background-color: #555;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: space-between;
}