.video {
    width: 100%;
    /* height: 100vh; */
}

/* .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
    padding: none;
    position: absolute;
} */

.video video {
    /* object-fit: cover; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1000px) {
    .video video {
        object-fit: contain;
        ;
    }
}