.frame {
    /* position: fixed; */
    bottom: 0;
    color: #636262;
    width: 100%;
}

.image {
    float: left;
    max-width: 200px;
    padding: 16px;
    background-color: transparent;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%)
}